.hobbies {
  align-items: center;
}

.text {
  padding: 1vw;
  margin: 1vw;
  background-color: rgba(0, 0, 0, 0.183);
}

h2 {
  color: whitesmoke;
  text-shadow: 3px 3px 5px rgb(160, 174, 182);
  text-align: center;
  font-size: x-large;
}

p {
  color: whitesmoke;
  font-size: large;
}
