<div class="container">
  <div class="content">
    <div class="text">
      <h2>Hobbies/Interests</h2>
      <p>For all my life I have been very active person and enjoyed from different kinds of physical activities. As a
        child
        we were playing different games with my cousins outside and later I started playing finnish baseball and
        continued
        it
        until couple years ago. I was introduced to gym training and other forms of physical training through baseball.
        Other ball
        sports like volleyball came later and baseball changed to volleyball and other ball sports. Novadays my physical
        activities
        consists mainly of volleyball (which I play in a club at a low level here in Jyväskylä), gym training and other
        ball
        sports like tennis or padel.
      </p>
      <p>Besides physical activities I use my leisure time by reading books, listening to music, watching
        sports/movies/series, playing video or
        board games and hanging around
        with my girlfriend and friends. Lots of my spare time goes in doing schoolwork because coding and almost
        everything
        we study in school are completely new to me so I need time to learn some of the things. As a surprise for myself
        I
        learned that I
        enjoy coding and other things we learn in school. So coding, doing different things and learning about new
        things
        has come as a new hobby for me.</p>
    </div>
  </div>
</div>
<!-- Tee service jossa säilytät tiedot jotka jaat eri kategorioihin ja jaat sivuilla ja jokin api ns salasanan takana (salasana on vastaus arvoitukseen)? -->