@media screen and (min-width: 800px) {
  .aboutdiv {
    align-items: center;
  }

  .info {
    display: flex;
    align-items: center;
    padding: 1vw;
    margin: 1vw;
    background-color: rgba(0, 0, 0, 0.285);
  }

  .aboutp {
    width: 50%;
    color: whitesmoke;
    text-align: center;
    font-size: large;
  }

  .pyorea-kuva {
    width: 40%;
    border-radius: 65%;
    padding: 10px;
  }

  .origin {
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgb(160, 174, 182);
    text-align: center;
    font-size: x-large;
  }

  .email :hover {
    color: darkgray;
  }
}

@media screen and (max-width: 800px) {
  .aboutdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutp,
  .pyorea-kuva {
    width: 100%;
    color: whitesmoke;
    text-align: center;
    font-size: large;
    align-content: center;
  }

  .pyorea-kuva {
    border-radius: 65%;
    width: 80%;
  }

  .info {
    background-color: rgba(0, 0, 0, 0.183);
    padding: 1vw;
  }
  .origin {
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgb(160, 174, 182);
    text-align: center;
    font-size: x-large;
  }
}
