<div class="aboutdiv">
  <h2 class="origin">Origin story</h2>
  <div class="info">
    <p class="aboutp">
      Greetings! My name (as already declared in the header) is Petri. A 31 years young finnish man with an appetite
      for
      learning, good sense of humour (not only in my opinion), stubborn attitude to do what I put my mind into and
      interest for evolving. Nowadays I am studying at Jamk Bachelor's Degree Programme in Business Information
      Technology and I have gratuaded from Kamk with Bachelor's Degree in Sports and Leisure Management. As one is
      able
      to tell
      I made a complete u-turn and the reason for it was that I found myself in a situation where most of my life as
      in
      job and hobbies circled around sports and I felt like it was too much.
      <br>
      <br>
      Now as a second year student I have not
      regretted at all and surprised myself by finding out I enjoy coding and learning more about different things in
      the field of business information. On my freetime I like to do sports, especially ball sports like volleyball,
      but
      other forms of physical activities like gym training are also in my repertoire. My job history is pretty
      versatile
      from proffessional support person to personal trainer, but this portfolio was created to show little bit of what
      I've learned and is mainly targeted for jobs in field of information technology. Of course if there is interest
      in
      different field, then hit me up with message and let's talk!
      <br>
      <br>
      Email: <a href="mailto:">pesku92&#64;hotmail.com</a>
    </p>
    <img src="../assets/img/thumbnail.jpg" class="pyorea-kuva" alt="kuva">
  </div>
</div>