<div class="container">
  <div class="content">
    <div class="text">
      <h1>Ticorporate projekti / <a href="https://jamk-packy.netlify.app/">PACKY</a></h1>

      <img src="../assets/img/packyicon1.png" alt="Ticorporate projekti / PACKY" />

      <h2>Projektin kuvaus</h2>

      <p>
        PACKY on suunniteltu työkaluksi aloitteleville sovelluskehittäjille. Sovellus tarjoaa
        vaihtoehtoja teknologiaratkaisuista
        käyttäjän suunnittelemalle sovellukselle, tämän valitsemien teknologioiden sekä sovelluksen ominaisuuksien
        perusteella.
      </p>

      <p>Sovelluksen pohjana toimi keväälle suunniteltu Software Engineering-kurssin projekti, josta muokattiin
        toimivampi ja parempi kokonaisuus.</p>

      <h2>Rooli</h2>

      <p>Pääroolini projektissa oli frontend-kehittäjä ja vastasin pääasiassa tilanhallinnasta. Sivuroolinani oli
        tarkoitus toimia testaajana,
        mutta tilanhallinta ja muut frontend-kehitystehtävät vaativat sen verran paljon aikaa, että sovimme auttavani
        Matiasta tarvittaessa testauksen kanssa. TC-Hopsissa toivomani tekninen rooli siis järjestyi.
      </p>

      <p>Projektin aikana osallistuin myös sisällöntuotantoon, eri toimintojen suunnitteluun ja toteutukseen,
        saavutettavuuden parantamiseen sekä optimointiin. Käytimme projektiin Reactin Next.js -frameworkia,
        tilanhallintaan käytin Redux toolkit sekä Redux-Persist -kirjastoja.</p>





      <h2>Projektin alku</h2>

      <p>Ennen Ticorporate -projektin alkamista minulla oli kohtuu vahva luotto omiin kykyihini sovelluskehityksessä,
        olisin sitten tekemisissä frontendin taikka backendin parissa ja tiedonhakutaitoihini sekä
        oppimis/soveltamiskykyyni. Luottamuksestani huolimatta, projektin alkaessa ja tilanhallinnan laskeutuessa
        harteilleni,
        jännitys kasvoi hieman johtuen suhteellisen pienestä kokemuksesta Next.js frameworkin sekä yleisesti
        tilanhallinnan käytöstä,
        jota oli aiemmilla kursseilla käyty läpi vähäisesti. Kuten jo aiemmin mainittu tilanhallintaa varten valitsin
        Reduxin, joka on
        hieman vanhahtava, mutta lukiessani opinnäytetyötä Reactin tilanhallintajärjestelmistä päädyin tähän valintaan.
        Projektin alku olikin osaltani kertausta Next.js käytöstä ja dokumentaatiosta, sekä Reduxin dokumentaation
        läpikäynnistä ja harjoittelusta.
      </p>

      <p>
        Kokemukseni sovelluskehityksestä ryhmänä rajautui jo mainittuun kevään Software Engineering-kurssiin ja näin
        suuren skaalan
        projekti tuli myös uutena tuttavuutena. Aiempi tausta projekteista oli suurimmalta osin kurssien lopputöiden
        parissa, eivätkä
        nämä olleet lähellekään samalla seinällä Ticorporaten kanssa. Tiimityö sinänsä oli itselleni tuttua ja koen
        olevani vastuullinen,
        niin sanotusti helppo työkaveri. Tämän vuoksi olin suhteellisen varma, ettei sen suhteen tulisi ongelmia ja koin
        tiimityöskentelyn
        olevan itselleni melko suuri vahvuus. Yleisesti ottaen SCRUM metodi ja yleiset pelisäännöt saatiin ratkaistua
        helposti sekä kehitysympäristö
        pystyyn nopeasti.
      </p>

      <h2>Mitä Ticorporate opetti ja suurimmat onnistumiset</h2>

      <p>TC-Hops keskustelussa kerroinkin tavoitteenani olevan tekninen rooli ja kehittyminen niin sovelluskehittäjän
        teknisessä osaamisessa kuin
        myös itseluottamuksen kasvattamisessa omaan osaamiseeni. Tarkoituksenani oli myös kehittää taitojani
        projektityössä ja parantaa ymmärrystäni
        sovelluskehityksen eri vaiheista sekä vahvistaa ymmärrystä ja valmiutta työelämää varten. Mielestäni saavutin
        asettamani tavoitteet, jotka asetin itselleni.
      </p>

      <p>Syitä luottamukseeni ovat seuraavanlaiset asiat: harjaannuin Next.js käytössä ja ymmärrykseni/osaamiseni
        sovelluskehityksessä parani jo syventymällä Angularin jälkeen toisenlaiseen frameworkiin. Next.js käyttö opetti
        käyttämään "vapaampaa" sovelluskehystä, tarkoittaen käytettävien välineiden valintaa kun Angular sisältää paljon
        enemmän valmiita ratkaisuja esimerkiksi tilanhallinnan suhteen. Esimerkiksi tilanhallintaan olisi ollut
        erilaisia
        kirjastoja, joista valitsimme Reduxin. Kehysten välillä oli eroja myös esimerkiksi reitityksessä, kun
        Angularilla reititys tapahtuu manuaalisesti ja Next.js käyttää tiedostopohjaista reititystapaa. Koen, että
        henkilökohtaisesti uuden "vapaamman" kehyksen käyttäminen antoi minulle perspektiiviä varsinkin käytettävien
        ratkaisujen
        suhteen ja niiden tekemisestä.

        <br>
        <br>
        Tilanhallinnan toteutus syvensi tietämystäni ja osaamistani monellakin tapaa, esimerkiksi Storen määrittely ja
        käyttöönotto sovelluksessa, tilan tallentuminen sovellukselle oikeanlaisella tavalla (aluksi tallennus
        localstorageen, kun taas lopussa muutos sessionstorageen), tilan välittäminen/muuttaminen eri komponenteissa
        funktioilla. Tilanhallinnan lisäksi pääsin kehittämään ja suunnittelemaan yleisesti toiminnallisuuksia kuten eri
        modaalien luomiseen,
        näkymien vaihtoon sekä saavutettavuuden kehittämiseen. Autoin myös backend-hakujen kanssa, ja yleisesti
        ongelmien tullessa eteen.

        <br>
        <br>
        Kurssin pituus ja sen sisältämät sprintit sekä demoesitykset myös laajensivat ymmärrystäni
        sovelluskehitysprojektin
        prosessista ja
        projektin
        pilkkomisesta pieniin osiin ja tärkeimpien asioiden tunnistamisessa tavoitteiden asettelussa yleisen
        projektityöskentelyn lisäksi.
      </p>

      <ul>

        <li>SCRUM-käytänteet:</li>
        <p>Ryhmällämme oli melko vapaamuotoinen/modifioitu lähestymistapa SCRUM-käytänteisiin, mikä ei välttämättä
          toimisi kaikissa ryhmässä, mutta meidän ryhmässämme se toimi moitteettomasti. Sprintit suunniteltiin ja
          pilkottiin
          yhdessä valkotaululle ja päivittäin kävimme läpi, mitä kullakin oli työn alla. Omalaatuinen käytäntömme toimi
          moitteettomasti, ja suurimmalta
          osalta saimme jokaiseen sprinttiin tehtyä suunnittelemamme tehtävät.</p>
        <p>Vaikka minulla olikin kevään kursseilta jo vähäinen kokemus SCRUM-projektista, ymmärrys eri roolien tehtäviin
          ja kokonaisuuden hallintaan kasvoi projektin aikana.</p>

        <li>Ryhmätyö: </li>
        <p>Nimenomaan sovelluskehityksen näkökulmasta, en ollut yksin vastuussa kaikesta vaan
          sain olla osana ryhmää mikä helpotti omalta osaltaan taakkaa kun tehtävät asiat pystyi jakamaan useamman
          henkilön kesken. Ryhmämme yhteistyö toimi muutenkin moitteitta ja kaikki kantoivat oman vetensä ja suorittivat
          roolinsa erittäin hyvin.
        </p>
        <p>Kommunikointi ryhmän sisällä toimi loistavasti ja kaikki antoivat sekä saivat apua tarvittaessa ryhmän muilta
          jäseniltä. Mikäli
          ryhmän jäsen sai omat tehtävänsä valmiiksi, tämä siirtyi oma-aloitteisesti tekemään seuraavaa asiaa, tai
          auttoi muita.
        </p>

        <li>Ongelmien/tavoitteiden pilkkominen</li>
        <p>Projektin edetessä, opin pilkkomaan ongelmia sekä saavutettavia tavoitteita mahdollisimman pieniin osiin,
          jotta suuremmatkin ongelmat/tavoitteet
          oli helpompaa ratkaista.
        </p>

        <li>Luottamusta omiin taitoihin ja ideoihin:</li>
        <p>Projektin edetessä sekä palaveroidessa ryhmän kesken, oman sovelluskehityksen, että avustaessa muita
          ongelmien kanssa huomasin omien taitojeni
          kehittyvän sekä sovelluskehyksen (Next.js) käytänteiden parissa, että yleisesti ottaen ongelmia ratkaistessa.
          Opin myös, että välillä kannattaa madaltaa rimaa tiedonhakuun, vaikka olisikin ns. "yksinkertainen" ongelma,
          jollaisen ennenkin on ratkaissut.
        </p>

        <li>Suunnittelun tärkeys:</li>
        <p>Projektin loppua kohden käydyissä palavereissa suunnittelu nousi aina suurempaan osaan mitä projektia
          aloittaessa, asiat pilkottiin todella pieniin osiin ja käytettiin enemmän aikaa miettimään ratkaisuja.
          Näin jälkeenpäin miettiessä olisi ollut hyvä suunnitella vielä tarkemmin projektin alussa esimerkiksi kaikki
          teknologiat, pilkkoa tavoitteet pienempiin osiin, jotta ne eivät vaikuta niin suurilta ja
          käydä läpi projektin kokonaiskuva mahdollisimman tarkasti. Vaikka sanoisinkin, että projektimme sujui
          vähintäänkin hyvin,
          huomasin itse alussa lieviä vaikeuksia sen suhteen, että lähdimme melko nopeasti tekemään koodia ja emme
          miettineet välttämättä esimerkiksi projektin kokoa riittävän tarkasti, toki
          esimerkiksi ensimmäisen demoesityksen jälkeen ymmärsimme saadusta palautteesta, että olimme lähteneet vähän
          liian laajalla skaalalla työskentelyyn.
        </p>
        <li>Asiakkaan vaikutus projektiin:</li>
        <p>Vaikka projektimme ei ollut ns. "asiakasprojekti", opettajien antama palaute esimerkiksi ensimmäisen
          demoesityksen jälkeen toimi niin sanotusti asiakaspalautteena, jonka jälkeen lähdimme muokkaamaan projektiamme
          yksinkertaisempaan suuntaan.

        </p>
      </ul>

      <p> Tekniseltä puolelta suurimmaksi onnistumisekseni lasken toimivan tilanhallinan luonnin
        ja
        uuden frameworkin oppimisen. Kun taas henkilökohtaisen kasvun ja projektityöskentelyn kannalta suurimmat
        onnistumiset olivat projektin syklien ja eri vaiheiden
        käytänteiden oppimisen ja ryhmätyöskentelyn kokemuksien saamisen sovelluskehityksen parissa. Koen myös tärkeänä
        mainita,
        että koko ryhmän toiminta ja lopputulos olivat suuria onnistumisia.</p>

      <div class="images">

        <h3>Storen määrittely sovelluksen store.ts tiedostossa</h3>

        <img src="../assets/img/storets_persistConfig.png" alt="persistConfigurointi">

        <p>Funktiot, joilla määritetään redux-persist kirjaston avulla tallennettavat muuttujat ja tallennuksen
          konfigurointi.</p>

        <img src="../assets/img/store.png" alt="store">

        <p>Storen määrittely configureStore funktion avulla. Määritellyn storen asettaminen persistor muuttujaan,
          tilanhallinnan tallennuksen vuoksi. RootStaten sekä dispatch funktioiden tyyppien määrittely.</p>

        <h3>Koko sovelluksen wrappaaminen käyttämään storea</h3>

        <img src="../assets/img/storewrap.png" alt="storen määrittely app.ts">

        <p>Sovellus wrapataan Provider-komponentilla käyttämään luotua storea sovelluksen pääkomponentissa.
          PersistGate-komponentti viivästyttää sovelluksen renderöintiä kunnes tallennettu tila on ladattu.</p>

        <h3>Redux-devtools näkymä storesta</h3>

        <img src="../assets/img/redux-devtools.png" alt="Redux-devtools">
        <p>Kokonaistilan esitys Redux-devtoolissa.</p>

        <h3>Session storagen toiminnan esimerkki</h3>
        <img src="../assets/img/storage.png" alt="sessionstorage">
        <p>SessionStorage, kun tilan eri osat on ladattu sinne.</p>

      </div>


      <h2>Käyttämäni teknologiat ja työkalut</h2>

      <ul>
        <li>VsCode</li>
        <li>Next.js</li>
        <li>React</li>
        <li>Redux</li>
        <li>Redux Persist</li>
        <li>Github</li>
        <li>Git</li>
      </ul>

      <h2>Yhteenveto ja suurimmat ongelmat</h2>

      <p>Ticorporate-projektin aikana työtunteja kertyi 397,5h ja pääsin kehittämään teknistä osaamistani
        monipuolisesti, suurin osa työstäni
        liittyi tilanhallintaan ja
        ajallisesti työskentelin sen parissa eniten mm.storen määrittely/luominen ja storagenmäärittelyt, actionit yms..
        Muita esimerkkejä työstäni olivat esimerkiksi stackbuilderissa esiintyvien buttonien toiminnallisuus (tyylittely
        oli Severillä), joiden avulla esimerkiksi
        liikutaan reiteillä ja avataan modaaleja, library-osion painokertoimien vähennys ja lisäys ominaisuus, modaalien
        luonti (esim.output).
        Näiden lisäksi autoin erinäisissä ongelmissa, joita kohtasimme esimerkiksi tietokantahakujen kanssa,
        saavutettavuusongelmien ratkaiseminen (esimerkiksi nappuloiden disablointi modaalien ollessa auki yms.),
        optimointi (esimerkiksi miksi renderöinnissä kesti niin kauan, turhan koodin poistaminen yms.).
        Sisällöntuotantoa esim tutoriaaleihin kuvat, linkit teknologiaehdotuksiin.
      </p>

      <p>Vahvuuksiani projektin aikana olivat mielestäni ongelmanratkaisukykyni ja työmoraalini (myönnän kylläkin, että
        viimeisen demon jälkeen
        motivaatio koki kolauksen ja uuden toiminnallisuuden eli tutoriaalin työstö vaati hieman energian kaivamista).
        Koin projektin opettavaiseksi
        ja sain tulevaisuutta varten itsevarmuutta tekemiseeni.
      </p>

      <p>Ongelmia työskentelyyni aiheuttivat henkilökohtaisesti mm. uusien teknologioiden käyttö (kuten Redux-library,
        Next.js), tietokannan vaihtuminen kesken kaiken, painokertoimien lisäys ja vähennys (jotta lopputuotteeseen
        saadaan teknologioita järjestykseen),
        henkilökohtaiset virheet (suurimpana esimerkkinä epähuomiossa kaksi samannimistä persistointi muuttujaa, eri
        komponenteissa => kaksi tietokantahakua ja tallennusta, tämän huomasin itse redux-työkalun avulla) yms.
        Näistä kuitenkin
        selvittiin ja viisastuttiin raskaalla tiedonhaulla dokumentaatioista, yritysten ja erehdysten kautta sekä
        keskustelemalla ryhmäläisten kanssa. </p>


      <div class="images">
        <h3>Tietokantahaku Reducerissa</h3>
        <img src="../assets/img/datareducer1.png" alt="esim1">
        <p>Datareducer alkutilan määrittely, sekä hakufunktio tietokantaan.</p>

        <h3>Esimerkki Reducer-funktiosta</h3>
        <img src="../assets/img/datareducer2.png" alt="esim2">
        <p>Datareducerin toiminnallisuus: kopion teko createSlicellä, nimen ja alkuperäisen tilan määrittely sekä
          Reducer funktioiden määrittely.</p>

        <h3>Tietokantahaun eri tilojen määrittely ja actionien luonti reducerissa</h3>
        <img src="../assets/img/dataReducer3.png" alt="esim3">
        <p>Tilan muutokset asyncThunck -funktion elämänkaaren mukaan ja reducerin jakaminen storeen, sekä actionien
          määrittely.</p>

        <h3>Stackbuilder navigointi-button</h3>
        <img src="../assets/img/navigointifunktio.png" alt="">
        <img src="../assets/img/saavutettavuus.png" alt="stacbuilder button">
        <p>Koodiesimerkki navigoinnista sovelluksessa sekä disablointiratkaisusta modaalien ollessa auki.</p>



        <h3>Esimerkki tilan osan käytöstä muuttujassa</h3>
        <img src="../assets/img/tilanjaarvonesimerkki.png" alt="useSelectoresimerk">
        <p>Esimerkki Next.js useSelector hookin käytöstä, palauttamaan haluttu osa tilasta muuttujaan.</p>

        <h3>Esimerkki reittien kuuntelijasta</h3>
        <img src="../assets/img/tutorialmodal.png" alt="listener">
        <p>useEffect- hookin käyttö tutorialmodalin toiminnallisuudessa.</p>

      </div>


    </div>

  </div>
</div>