<div class="container">
  <div class="content">
    <div class="text">
      <h1>Ticorporate projekti / PACKY</h1>

      <img src="../assets/img/packyicon1.png" alt="Ticorporate projekti / PACKY" />

      <h2>Projektin kuvaus</h2>

      <p>
        PACKY on suunniteltu työkaluksi aloitteleville sovelluskehittäjille. Sovellus tarjoaa
        vaihtoehtoja teknologiaratkaisuista
        käyttäjän suunnittelemalle sovellukselle, tämän valitsemien teknologioiden sekä sovelluksen ominaisuuksien
        perusteella.
      </p>

      <p>Sovelluksen pohjana toimi keväälle suunniteltu Software Engineering-kurssin projekti, josta muokattiin
        toimivampi ja parempi kokonaisuus.</p>

      <h2>Rooli</h2>

      <p>Pääroolini projektissa oli frontend-kehittäjä ja vastasin pääasiassa tilanhallinnasta. Sivuroolinani oli
        tarkoitus toimia testaajana,
        mutta tilanhallinta ja muut frontend-kehitystehtävät vaativat sen verran paljon aikaa, että sovimme auttavani
        Matiasta tarvittaessa testauksen kanssa. TC-Hopsissa toivomani tekninen rooli siis järjestyi.
      </p>

      <p>Projektin aikana osallistuin myös sisällöntuotantoon, eri toimintojen suunnitteluun ja toteutukseen,
        saavutettavuuden parantamiseen sekä optimointiin. Käytimme projektiin Reactin Next.js -frameworkia,
        tilanhallintaan käytin Redux toolkit sekä Redux-Persist -kirjastoja.</p>





      <h2>Projektin alku</h2>

      <p>Ennen Ticorporate -projektin alkamista minulla oli kohtuu vahva luotto omiin kykyihini sovelluskehityksessä,
        olisin sitten tekemisissä frontendin taikka backendin parissa ja tiedonhakutaitoihini sekä
        oppimis/soveltamiskykyyni. Luottamuksestani huolimatta, projektin alkaessa ja tilanhallinnan laskeutuessa
        harteilleni,
        jännitys kasvoi hieman johtuen suhteellisen pienestä kokemuksesta Next.js frameworkin sekä yleisesti
        tilanhallinnan käytöstä,
        jota oli aiemmilla kursseilla käyty läpi vähäisesti. Kuten jo aiemmin mainittu tilanhallintaa varten valitsin
        Reduxin, joka on
        hieman vanhahtava, mutta lukiessani opinnäytetyötä Reactin tilanhallintajärjestelmistä päädyin tähän valintaan.
        Projektin alku olikin osaltani kertausta Next.js käytöstä ja dokumentaatiosta, sekä Reduxin dokumentaation
        läpikäynnistä ja harjoittelusta.
      </p>

      <p>
        Kokemukseni sovelluskehityksestä ryhmänä rajautui jo mainittuun kevään Software Engineering-kurssiin ja näin
        suuren skaalan
        projekti tuli myös uutena tuttavuutena. Aiempi tausta projekteista oli suurimmalta osin kurssien lopputöiden
        parissa, eivätkä
        nämä olleet lähellekään samalla seinällä Ticorporaten kanssa. Tiimityö sinänsä oli itselleni tuttua ja koen
        olevani vastuullinen,
        niin sanotusti helppo työkaveri. Tämän vuoksi olin suhteellisen varma, ettei sen suhteen tulisi ongelmia ja koin
        tiimityöskentelyn
        olevan itselleni melko suuri vahvuus. Yleisesti ottaen SCRUM metodi ja yleiset pelisäännöt saatiin ratkaistua
        helposti sekä kehitysympäristö
        pystyyn nopeasti.
      </p>

      <h2>Ticorporaten lopussa</h2>

      <p>TC-Hops keskustelussa kerroinkin tavoitteenani olevan tekninen rooli ja kehittyminen niin sovelluskehittäjän
        teknisessä osaamisessa kuin
        myös itseluottamuksen kasvattamisessa omaan osaamiseeni. Tarkoituksenani oli myös kehittää taitojani
        projektityössä ja parantaa ymmärrystäni
        sovelluskehityksen eri vaiheista sekä vahvistaa ymmärrystä ja valmiutta työelämää varten. Mielestäni saavutin
        asettamani tavoitteet, jotka asetin itselleni.
      </p>

      <p>Syitä luottamukseeni ovat seuraavanlaiset asiat: harjaannuin Next.js käytössä ja ymmärrykseni/osaamiseni
        sovelluskehityksessä parani jo syventymällä Angularin jälkeen toisenlaiseen frameworkiin,
        tilanhallinnan toteutus syvensi tietämystäni ja osaamistani monellakin tapaa, esimerkiksi Storen määrittely ja
        käyttöönotto sovelluksessa, tilan tallentuminen sovellukselle oikeanlaisella tavalla (aluksi tallennus
        localstorageen, kun taas lopussa muutos sessionstorageen), tilan välittäminen/muuttaminen eri komponenteissa
        funktioilla. Kurssin pituus ja sen sisältämät sprintit sekä demoesitykset myös laajensivat ymmärrystäni
        projektin
        pilkkomisesta pieniin osiin ja tärkeimpien asioiden tunnistamisessa tavoitteiden asettelussa.
      </p>

      <p>Muita asioita, joita opin kurssin aikana: ryhmätyö, kommunikaation merkitys, tavoitteiden pilkkominen pieniin
        osiin, yleisesti sovelluskehitys tiimissä. Suurimmaksi onnistumisekseni lasken toimivan tilanhallinan luonnin ja
        uuden frameworkin oppiminen.</p>

      <h3>Storen määrittely sovelluksen store.ts tiedostossa</h3>
      <img src="../assets/img/store.png" alt="store">

      <h3>Koko sovelluksen wrappaaminen käyttämään storea</h3>
      <img src="../assets/img/storewrap.png" alt="storen määrittely app.ts">

      <h3>Redux-devtools näkymä storesta</h3>
      <img src="../assets/img/redux-devtools.png" alt="Redux-devtools">

      <h3>Session storagen toiminnan esimerkki</h3>
      <img src="../assets/img/storage.png" alt="sessionstorage">



      <h2>Käyttämäni teknologiat</h2>

      <ul>
        <li>VsCode</li>
        <li>Next.js</li>
        <li>React</li>
        <li>Redux</li>
        <li>Redux Persist</li>
        <li>Github</li>
        <li>Git</li>
      </ul>

      <h2>Yhteenveto</h2>

      <p>Ticorporate-projektin aikana työtunteja kertyi 397,5h ja pääsin kehittämään teknistä osaamistani
        monipuolisesti, suurin osa työstäni
        liittyi tilanhallintaan ja
        ajallisesti työskentelin sen parissa eniten mm.storen määrittely/luominen ja storagenmäärittelyt, actionit yms..
        Muita esimerkkejä työstäni olivat esimerkiksi stackbuilderissa esiintyvien buttonien toiminnallisuus (tyylittely
        oli Severillä), joiden avulla esimerkiksi
        liikutaan reiteillä ja avataan modaaleja, library-osion painokertoimien vähennys ja lisäys ominaisuus, modaalien
        luonti (esim.output).
        Näiden lisäksi autoin erinäisissä ongelmissa, joita kohtasimme esimerkiksi tietokantahakujen kanssa,
        saavutettavuusongelmien ratkaiseminen (esimerkiksi nappuloiden disablointi modaalien ollessa auki yms.),
        optimointi (esimerkiksi miksi renderöinnissä kesti niin kauan, turhan koodin poistaminen yms.).
        Sisällöntuotantoa esim tutoriaaleihin kuvat, linkit teknologiaehdotuksiin.
      </p>

      <p>Vahvuuksiani projektin aikana olivat mielestäni ongelmanratkaisukykyni ja työmoraalini (myönnän kylläkin, että
        viimeisen demon jälkeen
        motivaatio koki kolauksen ja uuden toiminnallisuuden eli tutoriaalin työstö vaati hieman energian kaivamista).
        Koin projektin opettavaiseksi
        ja sain tulevaisuutta varten itsevarmuutta tekemiseeni.
      </p>

      <h3>Tietokantahaku Reducerissa</h3>
      <img src="../assets/img/datareducer1.png" alt="esim1">

      <h3>Esimerkki Reducer-funktiosta</h3>
      <img src="../assets/img/datareducer2.png" alt="esim2">

      <h3>Tietokantahaun eri tilojen määrittely ja actionien luonti reducerissa</h3>
      <img src="../assets/img/dataReducer3.png" alt="esim3">

      <h3>Esimerkki stackbuilder buttonin koodista</h3>
      <img src="../assets/img/saavutettavuus.png" alt="stacbuilder button">




      <h3>Esimerkki tilan ominaisuuden käytöstä muuttujassa</h3>
      <img src="../assets/img/tilanjaarvonesimerkki.png" alt="useSelectoresimerk">

      <h3>Esimerkki reittien kuuntelijasta</h3>
      <img src="../assets/img/tutorialmodalinreitinkuuntelija.png" alt="listener">




    </div>

  </div>
</div>