<div class="container">
  <div class="content">
    <div class="text">
      <h1>Ticorporate projekti / PACKY</h1>

      <h2>Projektin kuvaus</h2>

      <p>
        Ticorporate projektimme on suunniteltu työkaluksi aloitteleville sovelluskehittäjille. Sovellus tarjoaa
        vaihtoehtoja teknologiaratkaisuista
        käyttäjän suunnittelemalle sovellukselle, tämän valitsemien teknologioiden sekä sovelluksen ominaisuuksien
        perusteella.
      </p>

      <p>Sovelluksen pohjana toimi keväälle suunniteltu Software Engineering-kurssin projekti, josta muokattiin
        toimivampi ja parempi kokonaisuus.</p>

      <h2>The Beginning (mitä osasin alussa)</h2>

      <p>The project started with our group deciding the project practices, tools, technologies and individual focus
        points.
      </p>

      <h2>The Present (mitä osaan nyt)</h2>

      <h2>Roles (roolit)</h2>

      <h2>What I have learned?</h2>

      <h2>Which objectives were achieved? Which did not?</h2>

      <h2>What did I learn from outside the plan?</h2>

      <h2>The Future</h2>

      <h3>Where do I want to employ myself?</h3>

      <h3>How did Ticorporate support these goals?</h3>

      <h3>What is there still to learn?</h3>

      <h2>What are my strengths?</h2>

      <h2>Why did I decide to present these documents/work in my portfolio?</h2>
    </div>

  </div>
</div>