.head {
  display: flex;
  justify-content: center;
}

.secrets {
  color: whitesmoke;
  text-shadow: 3px 3px 5px rgb(160, 174, 182);
  padding: 1vw;
  margin: 1vw;
}

.d2 {
  background-color: rgba(0, 0, 0, 0.285);
  font-size: larger;
  color: whitesmoke;
}

.container2 {
  display: flex;
  justify-content: center;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1vw;
  padding: 1vw;
}

.riddle {
  margin: 1vw;
  padding: 1vw;
}

.label {
  margin: 1vw;
  padding: 1vw;
}

.btn {
  background-color: grey;
  color: whitesmoke;
  padding: 0.5vw;
  margin: 0.5vw;
  border-radius: 40%;
}

.btn:hover {
  background-color: rgb(160, 174, 182);
}

.error-message {
  display: flex;
  justify-content: center;
  margin: 1vw;
  padding: 1vw;
  font-size: xx-large;
  color: red;
}
