<div class="container">
  <div class="content">

    <div class="text">
      <h2 class=" secrets">Answer the riddle to see a secret fact</h2>
      <div class="d2" *ngIf="!isSolved">
        <!-- näkymä näkyy jos isSolved on false -->
        <div *ngIf="showErrorMessage" class="error-message">
          Incorrect answer. Try again.
          <!-- Virheilmoitus, näytetään vain jos showErrorMessage on tosi -->
        </div>
        <div class="container2" *ngIf="!showErrorMessage">
          <!-- container2 div elementti menee piiloon jos showErrorMessage näytetään-->
          <form #f="ngForm" (ngSubmit)="checkAnswer()">
            <!-- Lomake, jonka submit-tapahtuma kutsuu checkAnswer-metodia -->
            <p class="riddle">{{riddle?.riddle}}</p>
            <!-- p elementti on bindattu muuttujan riddle arvoon -->
            <div class="container3">
              <!-- Vastauksen syöttökenttä ja tarkistuspainike -->
              <label class="label" for="answer">Answer:</label>
              <input class="input" type="text" for="answer" name="answer" [(ngModel)]="answer" required>

              <button class="btn" type="submit">Check the answer</button>
            </div>
          </form>
        </div>
      </div>

      <!-- div elementti hidden on bindattu muuttujan isSolved arvoon
  jotta sen näkyvyyttä voidaan ohjata -->
      <div class="hidden" *ngIf="isSolved">
        <div class="head">
          <h2 class="secrets">Random Fact:</h2>
        </div>
        <div class="container">
          <!-- p elementti on bindattu muuttujan randomFact arvoon -->
          <p>{{randomFact}}</p>
          <button class="btn" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>