/* You can add global styles to this file, and also import other style files */

.container {
  display: flex;
  justify-content: center;
}

.content {
  padding: 1vw;
  margin: 1vw;
  display: flex;
  background-color: rgba(0, 0, 0, 0.674);
  color: whitesmoke;
  font-size: large;
  max-width: 60vw;
}

.text {
  padding: 1vw;
  margin: 1vw;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  display: flex;
  justify-content: center;
}

h2 {
  color: aqua;
  display: flex;
  justify-content: center;
}

h3 {
  color: pink;
  display: flex;
  justify-content: center;
}

p {
  display: flex;
  justify-content: center;
}

li {
  display: flex;
  justify-content: center;
}

img {
  display: flex;
  justify-self: center;
}
